{{ $currentPage := . -}}
<ul class="modern-docs-menu">
  {{ range .Site.Menus.docs -}}
    {{ $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
    {{ $active = or $active (eq $currentPage.RelPermalink .URL) -}}
    <li>
      <a class="{{ if $active }}active{{ end }}" href="{{ .URL | relURL }}">
        <span></span>{{ .Name }}<i>↗</i>
      </a>
      {{ if .HasChildren -}}
        <ul>
          {{ range .Children -}}
            {{ $childActive := or ($currentPage.IsMenuCurrent "docs" .) (eq $currentPage.RelPermalink .URL) -}}
            <li><a class="{{ if $childActive }}active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      {{ end -}}
    </li>
  {{ end -}}
</ul>
